.projectViewSection {
  width: 100%;
  height: 100%;
  background-color: black;
  padding: 10px;
  padding-left: 20px;
  color: aliceblue;
}

.projectViewSection button {
  padding: 10px;
  background-color: yellow;
  color: green;
  font-weight: bold;
  transition: all 0.5s ease-in;
}

.projectViewSection button:hover {
  background-color: white;
  color: red;
  cursor: pointer;
}
